{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="jumbotron" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12)!important; background:#F8F9FA; padding: 2rem; margin-top: 2rem">
        <h1 class="display-5 text-primary" style="font-family: 'Bitter', serif;">Easy Quiz</h1>
        <p class="lead">We wish you are having a beautiful day!</p>
        <hr class="my-4">
        <div class="row">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4" style="border-radius:5px; background:transparent;">
            <h4 class="display-5 text-primary" style="font-family: 'Bitter', serif;">Log In</h4>
            <hr />
            <form class="form-groupe" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <input class="form-control" style="margin-top:1rem; margin-bottom:1rem" type="text" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                <input class="form-control" style="margin-top:1rem; margin-bottom:1rem" type="password" placeholder="Password" id="password" name="_password" required="required" autocomplete="current-password" />
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br>
                <input class="btn btn-outline-primary" style="margin-top:1rem" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
        <div class="col-md-4" style="display:flex; justify-content:center; align-items:center;">
            <a class="btn btn-primary" href="http://127.0.0.1:8000/register">Not Registered?</a>
        </div>
    </div>
    </div>
</div>